<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page Add Hostel</title>
</head>
<body>

	<h1>Add The Hostel</h1>
	<form th:action="@{/admin/addhostel/save}" th:object="${hostel}" method="post">
		<div>
			<label>Hostel Name</label> <input type="text" th:field="*{name}"
				 required>
		</div>
		<div>
			<label>Owner Name</label> <input type="text" name="ownername"
				th:value="${adminUser.name}" th:field="*{ownerName}" readonly>
		</div>
		<div>
			<label>Owner email</label> <input type="email" name="ownerEmail" th:value="${adminUser.email}" readonly>
		</div>
		<div>
			<label>Contact Number</label> <input type="number" th:field="*{contactNumber}">
		</div>
		<div>
			<label>Hostel Location</label> <input type="text" th:field="*{address}">
		</div>
		<div>
			<label>Established In</label> <input type="date" th:field="*{dateCreated}">
		</div>
		<button type="submit"> ADD </button>
	</form>
</body>
</html>