<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Room Details</title>
<style>
	.error-msg { color : red; font-size: 0.9em; margin-top: 5px;}
	.input-error { border: 2px solid red;}
	
	.btn-normal { background-color: grey;}
	.btn-normal:hover {
		background-color: green;
	}
	.btn-red { background-color: red; color: white;
	}
	.btn-grey { background-color: grey;}
</style>
</head>
<body>
	<h2>
		Add a new Room to <span th:text="${hostel.name}"></span>
	</h2>
	<form th:action="@{/admin/addroom/save}" th:object="${room}"
		method="post">
		<div>
			<input type="hidden" name="hostelId" th:value="${hostel.id}">
		</div>
		<div>
			<label>Room Number :</label> <input type="text" th:field="*{roomNo}"
				th:classappend ="${#fields.hasErrors('roomNo')} ? 'input-error' : '' "
				required>
			<p class = "error-msg"
				th:if="${#fields.hasErrors('roomNo')}"
				th:errors="*{roomNo}"></p>
		</div>
		<div>
			<label>Room sharing</label> <Select th:field="*{bedCount}">
				<option th:value="null">No of Beds Sharing</option>
				<option th:value="5">5 Share</option>
				<option th:value="4">4 Share</option>
				<option th:value="4">3 Share</option>
				<option th:value="4">2 Share</option>
				<option th:value="4">1 Share</option>
			</Select>
		</div>
		<div>
			<label>Price per Bed :</label> <input type="number"
				th:field="*{pricePerBed}" step="0.01" required>
		</div>
		<button type="submit" 
		class="btn-normal"
		th:classappend="${#fields.hasAnyErrors()}? 'btn-grey' : 'btn-normal'">Add Room</button>
	</form>
	<form th:action="@{/admin/hostel_list}">
		<button type="submit" 
		class="btn-red">Cancel</button>
	</form>
</body>
</html>