<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Room Details</title>
</head>
<body>
	<form action="">
		<div>
			<label>Room No :</label> <input type="number" name="room_no">
		</div>
		<div>
			<label>Room sharing</label> <Select name="No of Beds Sharing">
				<option value="">No of Beds Sharing</option>
				<option value="5">5 Share</option>
				<option value="4">4 Share</option>
				<option value="4">3 Share</option>
				<option value="4">2 Share</option>
				<option value="4">1 Share</option>
			</Select>
		</div>
	</form>
</body>
</html>