<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Apply For Hostel Seat Page</title>
</head>
<body>
	<form action="">
		<div>
			<label>Enter Name: </label> <input type="text" required>
		</div>
		<div>
			<label>Enter Age: </label> <input type="number" required>
		</div>
		<div>
			<label>Enter Contact No: </label> <input type="tel" pattern="[0-9]{10}" required>
		</div>
		<div>
			<label>Enter Working Company: </label> <input type="text" required>
		</div>
		<div>
			<label>Select Sharing Preference: </label>
			<select>
				<option>Sharing count</option>
				<option>1 Share</option>
				<option>2 Share</option>
				<option>3 Share</option>
				<option>4 Share</option>
			</select>
		</div>
		<div>
			<button type="submit">Submit</button>
		</div>
	</form>
</body>
</html>