<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Dashboard List of hostels</title>
</head>
<body>
	<h1>Hostel data</h1>
	<p>Hostel data</p>
	<h3 th:if="${hostels.isEmpty()}"
		style="text-align: center; color: red;">No Hostels found for
		those filters</h3>
	<h3 th:if="${!hostels.isEmpty()}"
		style="text-align: center; color: purple;">
		Found <span th:text="${hostels.size()}">0</span> Hostels matching your
		search
	</h3>

	<table border="1" th:if="${!hostels.isEmpty()}">
		<thead>
			<tr>
				<th>hostel Name</th>
				<th>Hostel Owner</th>
				<th>Hostel Contact No</th>
				<th>Hostel Address</th>
				<th>hostel Rating</th>
				<th>Apply for Seat</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="h:${hostels}">
				<td th:text="${h.name}"></td>
				<td th:text="${h.ownerName}"></td>
				<td th:text="${h.contactNumber}"></td>
				<td th:text="${h.address}"></td>
				<td th:text="${h.rating}"></td>
				<td>
					<form th:action="@{/user/applyform}" method="get">
						<button type="submit">Apply for Seat</button>
					</form>
				</td>
		</tbody>
	</table>
</body>
</html>